
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/Carrito.cshtml";
}

<div class="row mt-5 p-2">
    <h4 class="mt-3 d-flex justify-content-center">Mi carrito</h4>
    <div id="productos-seleccionados" class="cart"></div>
    <div class="d-flex justify-content-center">
        <span id="cantidad-articulos" class="pl-2">Su carrito está vacio</span>
    </div>
    <div id="container-total" class="d-flex justify-content-center align-items-center">
        <div class="fw-bold mt-4 mb-4">Total:</div>
        <div id="totalPagar">$ 0</div>
    </div>
    <div id="container-btn">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-block mt-3" id="btnProcesarPago" type="button">Ir a Pagar</button>
        </div>
    </div>  

</div>

<!--MODAL-->

<div class="modal fade" id="mdprocesopago" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5 class="d-flex justify-content-center mt-4 mb-3 text-primary" id="exampleModalLabel">Datos de entrega</h5>
            <div class="modal-body">
                <form>
                    <div class="mb-1">
                        <label for="message-text" class="col-form-label">Telefono:</label>
                        <input type="text" class="form-control control-validar telefono" autocomplete="off" id="txtTelefono">
                    </div>
                    <div class="mb-1">
                        <label for="message-text" class="col-form-label">Direccion:</label>
                        <input type="text" class="form-control control-validar" autocomplete="off" id="txtDireccion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmarCompra">Comprar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        
        const bars = document.querySelector("#sidebarToggle")
        const items = document.querySelector("#productos-seleccionados")
        const btn = document.querySelector("#container-btn")
        const total = document.querySelector("#container-total")
        const carrito = document.querySelector(".cart-counter")
        bars.classList.add("hidden")
        showBtns();

        $(document).ready(function () {
            loadProducts()
        })

        function loadProducts() {
            items.innerHTML = ""
            jQuery.ajax({
                url: '@Url.Action("ObtenerCarrito", "Carrito")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.LoadingOverlay("hide");
                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<div>").addClass("card-cart").append(
                                $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oProducto.extension + ";base64," + item.oProducto.base64, "width": "50" }),
                                $("<div>").addClass("card-cart-text").append(
                                    $("<div>").addClass("ml-2").append(
                                        $("<span>").addClass("font-weight-bold d-block").text(item.oProducto.oMarca.Descripcion),
                                        $("<span>").addClass("spec").text(item.oProducto.Nombre),
                                        $("<div>").addClass("col-5").html("<span class='fw-bold'>Precio :</span> $" + item.oProducto.Precio )
                                    )
                                ),
                                $("<div>").addClass("card-cart-btns").append(
                                    $("<div>").addClass("d-flex justify-content-end controles gap-1").append(
                                        $("<button>").addClass("btn btn-primary btn-restar b-rounded").append($("<i>").addClass("fas fa-minus")).attr({ "type": "button" }),
                                        $("<input>").addClass("form-control input-cantidad p-1 text-center b-rounded").css({ "width": "40px" }).attr({ "disabled": "disabled" }).val("1").data("precio", item.oProducto.Precio).data("idproducto", item.oProducto.IdProducto),
                                        $("<button>").addClass("btn btn-primary btn-sumar b-rounded").append($("<i>").addClass("fas fa-plus")).attr({ "type": "button" })
                                    ),
                                    $("<button>").addClass("btn-eliminar b-rounded b-delete").append($("<i>").addClass("far fa-trash-alt")).data("informacion", { _IdCarrito: item.IdCarrito, _IdProducto: item.oProducto.IdProducto})
                                )
                            ).appendTo("#productos-seleccionados");


                        })

                        obtenerPreciosPago();
                        obtenerCantidadProductos();
                        showBtns();

                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $.LoadingOverlay("show");
                },
            });
        }

        function showBtns() {
            if (items.hasChildNodes() === true) {
                btn.classList.remove("hidden")
                total.classList.add("d-flex")
                total.classList.remove("hidden")
            } else {
                btn.classList.add("hidden")
                total.classList.remove("d-flex")
                total.classList.add("hidden")
            }
        }


        $(document).on('click', '.btn-sumar', function (event) {
            var div = $(this).parent("div.controles");
            var input = $(div).find("input.input-cantidad");
            var cantidad = parseInt($(input).val()) + 1;
            $(input).val(cantidad);
            obtenerPreciosPago()
        });

        $(document).on('click', '.btn-restar', function (event) {
            var div = $(this).parent("div.controles");
            var input = $(div).find("input.input-cantidad");
            var cantidad = parseInt($(input).val()) -1;
            if (cantidad >= 1) {
                $(input).val(cantidad);
            }
            obtenerPreciosPago()
        });


        $(document).on('click', '.btn-eliminar', function (event) {
            var json = $(this).data("informacion");
            var card_producto = $(this).parents("div.card-producto");


            jQuery.ajax({
                url: '@Url.Action("EliminarCarrito", "Carrito")',
                type: "POST",
                data: JSON.stringify({ IdCarrito: json._IdCarrito, IdProducto: json._IdProducto }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        loadProducts()
                    } else {
                        alert("No se pudo eliminar")
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        })


        function obtenerPreciosPago() {

            var total = 0;
            $("input.input-cantidad").each(function (index) {
                var precio = parseFloat($(this).val()) * parseFloat($(this).data("precio"));
                total = total + precio;
            });
            $("#totalPagar").text("$ " + total.toString());
        }

        function obtenerCantidadProductos() {
            const length = $("#productos-seleccionados > div.card-cart").length
            if (length > 0) {
                $("#cantidad-articulos").html(`Hay ${length} producto(s) cargados.`);
            } else {
                $("#cantidad-articulos").html(`Su carrito está vacio`);
            }

            carrito.innerHTML = length

            if ($("#productos-seleccionados > div.card").length == 0) {
               $("#btnProcesarPago");
            }
        }

        $("#btnProcesarPago").on("click", function (e) {
            $("#txtDireccion").val("");
            $("#mdprocesopago").modal("show");

        })

        $("#btnConfirmarCompra").on("click", function (e) {
            const items = document.querySelector("#productos-seleccionados")
            if (!items.hasChildNodes()) {
                return swal("Atención", "No ha seleccionado productos todavía", "warning");
            }

            var falta_ingresar_datos = true;

            $(".control-validar").removeClass("border border-danger");

            $(".control-validar").each(function (i) {
                console.log("click")
                if ($(this).is('input')) {
                    if ($(this).val() == "") {
                        $(this).addClass("border border-danger")
                        falta_ingresar_datos = false;

                    }
                } else if ($(this).is('select')) {
                    if ($(this).children("option:selected").val() == "00") {
                        $(this).addClass("border border-danger")
                        falta_ingresar_datos = false;
                    }
                }

                if ($(this)[0].classList.contains("telefono")) {
                    try {
                        if (isNaN(parseInt($(this)[0].value))) {
                            $(this).addClass("border border-danger")
                            falta_ingresar_datos = false
                        } else {
                            if ($(this)[0].value.length === 10) {
                                falta_ingresar_datos = true
                            } else {
                                $(this).addClass("border border-danger")
                                falta_ingresar_datos = false
                            }

                        }
                    } catch (e) {
                        falta_ingresar_datos = false
                    }
                }
                
                
            });

            if (falta_ingresar_datos) {

                var detalle = [];
                var total = 0;
                $("input.input-cantidad").each(function (index) {
                    var precio = parseFloat($(this).val()) * parseFloat($(this).data("precio"));
                    detalle.push({
                        IdProducto: parseInt($(this).data("idproducto")),
                        Cantidad: parseInt($(this).val()),
                        Total: precio
                    });

                    total = total + precio;
                });

                var request = {
                    oCompra: {
                        TotalProducto: $("#productos-seleccionados >div.card-cart").length,
                        Total: total,
                        Telefono: $("#txtTelefono").val(),
                        Direccion: $("#txtDireccion").val(),
                        oDetalleCompra: detalle
                    }

                }

                jQuery.ajax({
                    url: '@Url.Action("RegistrarCompra", "Carrito")',
                    type: "POST",
                    data: JSON.stringify(request),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            swal("Compra Realizada", "Tu pedido llegará en 24 horas hábiles", "success").then((value) => {
                                 window.location.href = "@Url.Action("Index", "Carrito")"
                            });
                        } else {
                            swal("Lo sentimos", "No se  pudo completar la compra", "warning");
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {
                    },
                });
            }
        })


    </script>


}